@(users: List[User])(implicit request: RequestHeader)

@main("Users listing") {
    <table>
        <thead>
            <tr>
                <td>UserID</td>
                <td>Username</td>
                <td>Password</td>
            </tr>
        </thead>
        <tbody>
            @for(user <- users) {
                <tr>
                    <td>@user.user_id</td>
                    <td>@user.username</td>
                    <td>@user.password</td>
                </tr>
            }
        </tbody>
    </table>
}