@(signup_form: Form[UserSignup])(implicit sessioned_user: Option[String], flash: Flash)
@main("Signup User") {

    @if(signup_form.hasGlobalErrors) {
        <ul>
            @for(error <- signup_form.globalErrors) {
                <li>@error.message</li>
            }
        </ul>
    }

    @helper.form(action=routes.Users.signupProcess) {
        @helper.inputText(signup_form("username"), '_label -> "Username")
        @helper.inputText(signup_form("email"), '_label -> "Email")
        @helper.inputPassword(signup_form("password"), '_label -> "Password")
        @helper.inputPassword(signup_form("confirm_password"), '_label -> "Confirm Password")
        <div><input type="submit" value="Signup" /></div>
    }
}